@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #003F91;
    --secondary-color: #877B66;
    --accent1-color: #EFEFEF;
    --accent2-color: #E2D686;

    --heading-font: 'Roboto', 700;
    --paragraph-font: 'Roboto', 400;

    --nav-background-color: #fff;
    --nav-link-color: #3418ed;
    --nav-hover-link-color: #1500a1;
    --nav-hover-background-color: #ededed;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: : var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var (--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}